services:
  frontend:
    build: ./frontend
    ports:
      - "3030:3030"
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./frontend:/src
      - /node_modules

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/genes/names || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  db:
    image: postgres:17
    restart: unless-stopped
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=DB
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/database.sql:/docker-entrypoint-initdb.d/database.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d DB"]
      interval: 5s
      retries: 5
      start_period: 10s

volumes:
  db_data: